html {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !;
    min-height: 100%;
    overflow: hidden;
}


/* 滚动条整体 */
::-webkit-scrollbar {
    width: 6px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    border-radius: var(--ant-border-radius);
    /* 轨道圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: lightgray;
    /* 滑块背景色 */
    border-radius: var(--ant-border-radius);
    /* 滑块圆角 */
}

/* 滚动条滑块悬停 */
::-webkit-scrollbar-thumb:hover {
    background: gray;
    /* 滑块悬停背景色 */
}

.layout-panel-tabs .ant-tabs-nav {
    margin: 0 !important;
}


.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}