.draggable-tree {
    width: 100%;
}

.draggable-tree .ant-tree-treenode {
    display: flex;
    align-items: center;
}

.draggable-tree .ant-tree-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-tree .ant-tree-switcher::before {
    top: auto !important;
}


.draggable-tree .ant-tree-node-content-wrapper {
    flex: 1;
    padding: 6px;
    display: block;
    box-sizing: border-box;
}


.menu-ops-btn {
    display: inline-flex;
    /* 容器内水平垂直居中 */
    align-items: center;
    justify-content: center;
    padding: 4px;
    /* 控制包裹框大小 */
    border-radius: var(--ant-border-radius);
    /* 圆角 */
    cursor: pointer;
    /* 鼠标样式 */
    transition: background-color 0.3s ease;
}

.menu-ops-btn:hover  {
    background-color: var(--ant-color-bg-text-hover)
}