.typography-text-icon:hover {
  color: var(--ant-color-link);
  cursor: pointer;
}

.hoverable-list-item:hover {
  background-color: var(--ant-control-item-bg-hover);
  border-radius: var(--ant-border-radius);
}

.hoverable-list-item .actions {
  display: none;
}

.hoverable-list-item:hover .actions {
  display: flex;
}

.typography-text-title {
  color: lightgray;
  font-size: 12px;
}


.typography-text-checkbox-title {
  display: inline-block !important;
  max-width: 5em !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}