html {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !;
    min-height: 100%;
    overflow: hidden;
}

.logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
}

:where(.css-dev-only-do-not-override-2gwokh).ant-card .ant-card-body{
    padding: 24px 24px 10px 24px;
}

.ranking-list .ant-list-header {
  border-block-end: none !important;
}

.home-root-flex{
  background: var(--ant-color-bg-container);
}

.rank-circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin-right: 16px;
}

.rank-circle-top {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background-color: #000;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  margin-right: 16px;
}